doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Movie List
        //- Add Bootstrap CSS CDN
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
        //- Add Bootstrap JS and dependencies
        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js")
        link(rel="stylesheet" href="/stylesheets/movie_index.css")

    body 
        .container
            a.btn.btn-secondary(href="/movie") Home
            h1.text-center(class="text1") Movie List 
            form(action=`/movie/category/${categoryName}`, method="GET", class="mb-4 d-flex align-items-center")
                .form-group.flex-grow-1.mr-2
                    input.form-control(name="keyword", value=keyword, placeholder="Search By Name", style="height: 40px;")
                input.btn.btn-success(type="submit", value="Search", style="height: 40px;") 
            div.row
                if movies && movies.length > 0  
                    each movie in movies
                        div.col-lg-3.col-md-4.col-sm-6.mb-4
                            div.card.h-100
                                div.card-img-top
                                    img(src=`/images/${movie.image}`, style="width:100%;height:300px;object-fit:cover")
                                div.card-body
                                    h5.card-title= movie.name
                                    p.card-text= movie.year
                else
                    div.col-lg-12
                        p.text-center No data available
